 body {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #000d1a;
  }
  p {font-size: 16px;
     overflow-wrap: break-word;
   }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}
  
  .margin0 {
      margin-bottom: 0px;
      margin-top: 50px;
      margin-right: 10%;
      margin-left: 10%;
  }
  .margin {
      margin-bottom: 0px;
      margin-top: 10px;
      margin-right: 10%;
      margin-left: 10%;
  }
  .margin2 {
      margin-bottom: 30px;
      margin-top: 30px;
      margin-right: 10%;
      margin-left: 10%;
  }
  .margin3 {
      margin-bottom: 0px;
      margin-top: 30px;
      margin-right: 10%;
      margin-left: 10%;
  }
  .margin4 {
      margin-bottom: 0px;
      margin-top: 0px;
      margin-right: 10%;
      margin-left: 10%;
  }
  .marginH {
      margin-bottom: 0px;
      margin-top: 10px;
      margin-right: 10%;
      margin-left: 10%;
  }
  .marginL {
      margin-bottom: 0px;
      margin-top: 0px;
      margin-right: 10%;
      margin-left: 10%;
      overflow-wrap: break-word;
  }
  .marginUL {
      margin-bottom: 0px;
      margin-top: 30px;
      margin-right: 0%;
      margin-left: 1%;
  }
  .marginUL2 {
      margin-bottom: 0px;
      margin-top: 20px;
      margin-right: 0%;
      margin-left: 1%;
  }
  .marginCW {
      margin-bottom: 0px;
      margin-top: 0px;
      margin-right: 10%;
      margin-left: 10%;
  }

  .titlela {
  font-size: 3rem;
  font-weight: 300;
}

  .subtitle {
  font-size: 0.875rem;
  font-weight: 100;
  margin-right: 10%;
  margin-left: 10%;
}

  .subtitlepad {
  font-size: 1rem;
  font-weight: 100;
  margin-right: 0%;
  margin-left: 75%;
}

  .display-4 {
  font-size: 2.6rem;
  font-weight: 300;
  line-height: 1.2;
}

  .display-5 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}
  .display-6 {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
}

  .cl-2 { 
      color: #444444;
  }
  .cl-blue { 
      color: #0099ff;
  }

  .bg-1 { 
      background-color: #fff; /* White */
      color: #666666;
  }
  .bg-2 { 
      background-color: #0099ff; /* Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ff9900; /* Orange */
      color: #fff;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 80px;
      padding-bottom: 20px;
      margin-right: auto;
      margin-left: auto;
  }

  .container-fluid2 {
      padding-top: 10px;
      padding-bottom: 30px;
      margin-right: auto;
      margin-left: auto;
  }
  .navbar {
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 14px;
      letter-spacing: 2px;
  }
  .navbar-nav  li a:hover {
      color: #0099ff !important;
  }