{% extends "personal/header.html" %}
{% load staticfiles %}

{% block content %}
    <div class="bg-1">
      <div>
          <span class="d-block"> 
            <img class="img-fluid img-profile rounded-circle" src="{% static 'personal/img/Me.jpg' %}" alt="Profile Picture" style="max-height: 300px; max-width: 300px;">
          </span></div>
        <h1 class="margin display-4 cl-2">Robby DeRosa</h1>
        <h2 class="lead cl-2">Software Development | Web Applications | Micro-Controllers</h2>
        <p class = "margin2 lead"><b>Hey everyone! </b> I fell in love with programming when I got my first Raspberry Pi and used it to build a new drum module for my electronic drumset. I fell in love all over again learning Django, and I'm determined to open up a world of new opportunities I've never dreamed possible.</p>
 	</div>	    

	  <section id="skills">
	  	<div class = "container-fluid2 bg-2">
	      <h2 class="marginH display-4">Skills</h2>
			  <p class="margin lead">
				  Python, Java, Go, Perl, HTML, CSS, C++, C#, Ruby</p>

	      <div class="margin0 lead display-5">
	      Tools I like to use:</div>
	      <p class="margin lead">Django, PostgreSQL, JSON, Anaconda, Git, Heroku, Nagios Server, Web Scraping(Python & Go), Twitter API, Reddit API, Arduino Uno, Raspberry Pi/Linux, OpenCV, SSH secure Shell Client</p>

	      <div class="margin0 lead display-5">
	      IDE's:</div>
	      <p class="margin lead">IntelliJ IDEA, Eclipse, BlueJ, Android Studio, Unity3D</p>

	      <div class="margin0 lead display-5">
	      Soft Skills:</div>
	      <p class="margin lead">IT Management, soldering, basic electronics, confident leader, team worker, quick learner, adaptable</p>
	    </div>
	  </section>

	  <section id="Education">
	  	<div class = "container-fluid2 text-center bg-1">
	      <h2 class="marginH display-4">Education</h2>
	      	  <p class="margin3 lead display-6">
				  <b>Monmouth University</b></p>
			  <p class="margin4 lead">
				  Bachelor’s Degree in Computer Science in Applied Computing</p>
			  <p class="margin4">
				  Magna Cum Laude Honors Society</p>
			  <p class="margin4 ">
				  Graduated Fall 2016 with GPA 3.75</p>

	      	  <p class="margin0 lead display-6">
				  <b>Shore Regional High School</b></p>
			  <p class="margin4 lead">
				  Class of 2010</p>
	   </div>
	  </section>


	  <section id="Experience">
	  	<div class = "container-fluid2 text-center bg-2">
	      <h2 class="marginH display-4">Experience</h2>
	      	  <p class="margin3 lead display-6">
				  <b>SpinningDesigns Inc. - Asbury Park, NJ.</b></p>
			  <p class="margin4 cl-2">
				  Programming and Data Mining, <b class="">January 2013 - Current</b></p>
			<ul>
				<li class="marginL lead">Developed Java, C/C++, Assembler code on Atmel AT328 Arduino Uno, Microchip PIC microcontrollers, and Raspberry Pi platforms. The code controlled LEDs, sensors, motors, accelerometers, and Bluetooth interfaces for promotional products. Many of the projects used interrupts, timers, memory management, and flash. 
				</li>
				<li class="marginL lead">Developed Python code, and used ownCloud on the Raspberry Pi for an IOT (Internet of Things) application. Users can log on through Wifi and upload sounds and music via web interface. The music will then play when the Python Code detects the motion of the spinning prize wheel.
				</li>

			</ul>



			  <p class="margin4">
				  Magna Cum Laude Honors Society</p>
			  <p class="margin4 ">
				  Graduated Fall 2016 with GPA 3.75</p>

	      	  <p class="margin0 lead display-6">
				  <b>Shore Regional High School</b></p>
			  <p class="margin4 lead">
				  Class of 2010</p>
	   </div>
	  </section>








<!--{% include "personal/includes/htmlsnippet.html" %}-->
{% endblock %}