{% extends "personal/header.html" %}
{% load staticfiles %}

{% block content %}
    <div class="bg-1">
      <div>
          <span class="d-block"> 
            <img class="img-fluid img-profile rounded-circle" src="{% static 'personal/img/Me.jpg' %}" alt="Profile Picture" style="max-height: 300px; max-width: 300px;">
          </span></div>
        <h1 class="margin display-4 cl-2">Robby <span class="cl-blue">DeRosa</span></h1>
        <h2 class="margin lead cl-2">Software Development &bull; Web Applications &bull; Micro-Controllers</h2>
        <p class = "margin2 lead"><b>Hey everyone! </b> I fell in love with programming when I got my first Raspberry Pi and used it to build an automated light show for my band. I fell in love all over again learning Django, and I'm determined to open up a world of new opportunities I've never dreamed possible.</p>
 	</div>	    

	  <section id="skills">
	  	<div class = "container-fluid2 bg-2">
	      <h2 class="marginH display-4">Skills</h2>
			  <p class="margin lead">
				  Python, Java, Go, Perl, HTML, CSS, C++, C#, Ruby</p>

	      <div class="margin0 lead display-5">
	      Tools I like to use:</div>
	      <p class="margin lead">Django, PostgreSQL, JSON, Anaconda, Git, Heroku, Nagios Server, Web Scraping(Python & Go), Twitter API, Reddit API, Arduino Uno, Raspberry Pi/Linux, OpenCV, SSH secure Shell Client</p>

	      <div class="margin0 lead display-5">
	      IDE's:</div>
	      <p class="margin lead">IntelliJ IDEA, Eclipse, BlueJ, Android Studio, Unity3D</p>

	      <div class="margin0 lead display-5">
	      Soft Skills:</div>
	      <p class="margin lead">IT Management, soldering, basic electronics, confident leader, team worker, quick learner, adaptable</p>
	    </div>
	  </section>

	  <section id="Education">
	  	<div class = "container-fluid2 text-center bg-1">
	      <h2 class="marginH display-4">Education</h2>
	      	  <p class="margin3 lead display-6">
				  <b>Monmouth University</b></p>
			  <p class="margin4 lead">
				  Bachelor’s Degree in Computer Science in Applied Computing</p>
			  <p class="margin4">
				  Magna Cum Laude Honors Society</p>
			  <p class="margin4 ">
				  Graduated Fall 2016 with GPA 3.75</p>


		  	<p class="margin0 lead display-6">
			  <b>Relevant Coursework</b></p>
			  <div class="row">
			    <div class="col-sm-6 text-left">
				<ul>
					<li class="marginCW lead">Intro to CS I & II
					</li>
					<li class="marginCW lead">Scripting Languages
					</li>
					<li class="marginCW lead">Data Structure and Algorithms
					</li>
					<li class="marginCW lead">Database Management Systems
					</li>
					<li class="marginCW lead">Adv. Object Oriented Programming
					</li>
					<li class="marginCW lead">Unity 3D Game Development
					</li>
				</ul>
			    </div>
			    <div class="col-sm-6 text-left"> 
				<ul>
					<li class="margin4 lead">Android Studio Development
					</li>
					<li class="margin4 lead">Computer Networks
					</li>
					<li class="margin4 lead">Computer Architecture
					</li>
					<li class="margin4 lead">Discrete Mathematics
					</li>
					<li class="margin4 lead">Operating System Analysis
					</li>
					<li class="margin4 lead">Python Developers Course
					</li>
				</ul>
			    </div>
			  </div>

	      	  <p class="margin0 lead display-6">
				  <b>Shore Regional High School</b></p>
			  <p class="margin4 lead">
				  Class of 2010</p>
	   </div>
	  </section>


	  <section id="Experience">
	  	<div class = "container-fluid2 text-center bg-2">
	      <h2 class="marginH display-4">Experience</h2>
	      	  <p class="margin3 lead display-6">
				  <b>SpinningDesigns Inc. - Asbury Park, NJ.</b></p>
			  <p class="margin4 cl-2">
				  Programming and Data Mining, <b class="">January 2013 - Current</b></p>
		</div>
		<div class = "container-fluid2 text-left bg-2">
			<ul>
				<li>Real-time Software Development</li>
				<ul>
				<li class="marginL lead">Developed Java, C/C++, Assembler code on Atmel AT328 Arduino Uno, Microchip PIC microcontrollers, and Raspberry Pi platforms. The code controlled LEDs, sensors, motors, accelerometers, and Bluetooth interfaces for promotional products. Many of the projects used interrupts, timers, memory management, and flash. 
				</li>
				<li class="margin lead">Developed Python code, and used ownCloud on the Raspberry Pi for an IOT (Internet of Things) application. Users can log on through Wifi and upload sounds and music via web interface. The music then plays when the Python Code detects the motion of the spinning prize wheel.
				</li>
				</ul>
			</ul>

			<ul>
				<li>Updating Legacy Website</li>
				<ul>
				<li class="marginL lead">Coded HTML for new pages, updated prices, pictures, and videos on the company’s website
				</li>
				<li class="margin lead">Created a video, comparison, and FAQ webpage using HTML.
				</li>
				</ul>
			</ul>

			<ul>
				<li>Server Management</li>
				<ul>
				<li class="marginL lead">Installed and configured a shoptech client server inventory and order management system. Duties included installing and managing databases on the server, and client POS applications on the desktops to process orders and keep track of inventory, shipping details, and pricing.
				</li>
				</ul>
			</ul>

			<ul>
				<li>E-Commerce Optimization</li>
				<ul>
				<li class="marginL lead">Helped install and configure ChannelAdvisor’s RSS feeds as the company’s main platform for pushing products out to numerous websites simultaneously including Amazon and Google Shopping.
				</li>
				<li class="margin lead">Used Google Analytics/Adwords to find specific keywords and help drive wanted traffic to the company’s website.
				</li>
				</ul>
			</ul>
	   </div>

	  	<div class = "container-fluid2 text-center bg-2">
	      	  <p class="margin3 lead display-6">
				  <b>(Internship) Gold Coast Cadillac - Oakhurst, NJ.</b></p>
			  <p class="margin4 cl-2">
				  Programming/IT Support, <b class="">August 2016 - October 2016</b></p>
		</div>
		<div class = "container-fluid2 text-left bg-2">
			<ul>
				<li>Programming in Perl</li>
				<ul>
				<li class="marginL lead">Wrote Perl scripts which check for updates and licensing codes on all of the computers in the car dealership. The Perl checks are ran daily through a Nagios server and retrieve information from over 100 computers in the database.
				</li>
				</ul>
			</ul>

			<ul>
				<li>Computer Installations</li>
				<ul>
				<li class="marginL lead">Set up and installed old and new computers around the dealership and included them in specific groups on the Nagios Server
				</li>
				</ul>
			</ul>
			</ul>
	   </div>
	  </section>


	  <section id="Projects">
	  	<div class = "container-fluid2 text-center bg-1">
	      <h2 class="marginH display-4">Acedemic Affiliations & Projects</h2>
		</div>
		<div class = "container-fluid2 text-left bg-1">
			<ul>
				<li>Python Django Projects, Jan-Current 2018</li>
				<ul>
				<li class="marginL lead">Developed a Weather Station app using Django and PostgreSQL which takes data from weatherunderground.com’s API and updates the weather data on the app every 10 minutes. Deployed on Heroku at superweatherforecast.herokuapp.com
				</li>
				<li class="margin lead">Developed this awesome website about me!
				</li>
				</ul>
			</ul>
			<ul>
				<li>Go Web Server, January 2017</li>
				<ul>
				<li class="marginL lead">Scraped XML from techcrunch.com and displayed URLs linking to the most recent articles on a Web Server
				</li>
				</ul>
			</ul>
			<ul>
				<li><b>Android Laser Tag, January - April 2016 (Senior Project)</b></li>
				<ul>
				<li class="marginL lead">Designed and successfully implemented a laser tag system to be attached to any Android Smartphone
				</li>
				<li class="margin lead">Implemented a microcontroller, Bluetooth module, Infrared LED/Receiver, and a battery to work simultaneously with the Android app we created.
				</li>
				<li class="margin lead">Implemented a microcontroller, Bluetooth module, Infrared LED/Receiver, and a battery to work simultaneously with the Android app we created.
				</li>
				<li class="margin lead">Worked with three other individuals who helped document and create the Android app.
				</li>
				</ul>
			</ul>
			<ul>
				<li>Raspberry Pi Motion Sensing Music Player, June 2016 (SpinningDesigns Inc.)</li>
				<ul>
				<li class="marginL lead">Wrote a Python script to play a given song when a prize wheel starts to spin or has stopped.
				</li>
				<li class="margin lead">The script reads an infrared sensor to detect a change and increments through given songs in a list.
				</li>
				<li class="margin lead">Customers are able to change songs by dragging and dropping song files onto any usb flash drive and loading it into the Raspberry Pi before booting.
				</li>
				</ul>
			</ul>
			<ul>
				<li>Misc Python Scripts, March 2016-present</li>
				<ul>
				<li class="marginL lead">Wrote a Python script to parse out individual headlines on a Monmouth University web page and place them in a valid RSS feed using XML.
				</li>
				<li class="margin lead">Web scraped several website with the module BeautifulSoup
				</li>
				<li class="margin lead">Used OpenCV on a Raspberry Pi to capture pixels from a live camera and send an alert when the camera detects movement.
				</li>
				<li class="margin lead">Wrote a Python script using the Twitter API to analysis a handful of tweets based on the keyword given, and rate each tweet using sentiment analysis. The polarity and subjectivity of each tweet along with the keyword and the tweet itself are then stored in CSV file.
				</li>
				</ul>
			</ul>
			<ul>
				<li>Java GUI Contact List, April 2016</li>
				<ul>
				<li class="marginL lead">Developed a GUI Contact List where you can sort the table by any category, update a contact, delete a contact, and reset the whole table. I also implemented regular expressions to guide correct user input.
				</li>
				<li class="margin lead">The program also utilizes the following features; Save your table and/or open a new one, color picker to change the background color, select a language (English, Dutch, French), and an about me page
				</li>
				</ul>
			</ul>
			<ul>
				<li>SQL Project, December 2015</li>
				<ul>
				<li class="marginL lead">Developed an SQL script using the Oracle database system to mimic an online forum in which people can sign up, make new threads, and write posts and replies.
				</li>
				</ul>
			</ul>
	   </div>
	  </section>








<!--{% include "personal/includes/htmlsnippet.html" %}-->
{% endblock %}